In [89]:
import pandas as pd

airlines = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/airlines.csv')
airports = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/airports.csv')
planes = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/planes.csv')
weather = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/weather.csv')

port_direction_north = airports.sort_values(by=['lat'], ascending=False)




port_direction_north

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
...,...,...,...,...,...,...,...,...
930,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10,A,Pacific/Honolulu
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu

##Question 1: What is the northernmost airport in the United States?

Latitude = North and South

Latitude: from -90.0000° (South) to 90.0000°(North);

According to the analysis above, the northernmost airport is the Dillant Hopkins Airport.

Refrence: https://content.meteoblue.com/en/research-education/specifications/standards/position#:~:text=Latitude%20and%20longitude%20are%20given,to%20180.0000%C2%B0(East)%3B

In [90]:
import pandas as pd

airlines = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/airlines.csv')
airports = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/airports.csv')
planes = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/planes.csv')
weather = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/weather.csv')


port_direction_east = airports.sort_values(by=['lon'], ascending=False)


port_direction_east

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1251,SNP,St Paul Island,57.167333,-170.220444,63,-9,A,America/Anchorage
1281,SVA,Savoonga Airport,63.686400,-170.493000,53,-9,A,America/Anchorage
522,GAM,Gambell Airport,63.766800,-171.733000,27,-9,A,America/Anchorage
112,AKB,Atka Airport,52.220278,-174.206389,56,-9,A,America/Anchorage
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage

##Question 1: What is the easternmost airport in the United States?

Latitude = West and East

Latitude: from -180.0000° (West) to 180.0000°(East);

According to the analysis above, the easternmost airport is the Eareckson As.

Refrence: https://content.meteoblue.com/en/research-education/specifications/standards/position#:~:text=Latitude%20and%20longitude%20are%20given,to%20180.0000%C2%B0(East)%3B

In [96]:
import pandas as pd

airlines = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/airlines.csv')
airports = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/airports.csv')
planes = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/planes.csv')
weather = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/weather.csv')

wind_weather =weather.sort_values(by=['month', 'day'], kind={'month=2'})

wind_weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30T23:00:00Z